@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*,*::after,*::before{
    padding : 0rem;
    margin : 0rem;
    box-sizing : border-box;
}

body{
    background-color: hsl(217, 28%, 15%);
    overflow-x: hidden;
    width : 100%;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.icon {margin : 1.5rem;}

.list-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    color : white;
    margin-right: 1rem;
}

.list-items li {padding : 0rem .75rem;}

.list-items li a{
    display: inline-block;
    text-decoration : none;
    color : white;
}

.main-img .files img{
    height : 25rem;
    position: relative;
    left : 50%;
    transform: translateX(-50%);
    display: none;
}

.files-content{
    color : white;
    margin-top : 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.files-content p:first-child, p:nth-child(2){
    text-align: center;
    font-size : 1.5rem;
    font-weight: 700;
}

.files-content p:nth-child(3){
    margin : 1rem 0rem;
    text-align: center;
    width: 32%;
    position: relative;
    left : 50%;
    transform : translateX(-50%);
    font-size : .85rem;
    color : #ccc;
}

.files a{
    display: inline-block;
    text-decoration: none;
    position: relative;
    left : 50%;
    transform: translateX(-50%);
    background : linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    padding : .5rem 2rem;
    border-radius: 50px;
    color : white;
    font-size : .8rem;
    margin-bottom : 1.5rem;
}

.files {margin-bottom: 4rem;}

.icon-section {background : url("./images/bg-curvy-desktop.svg") no-repeat top center/cover;}

.icons-row1,.icons-row2{
    display: flex;
    justify-content: space-evenly;
    color : white;
    font-family: 'Open-Sans',sans-serif;
    margin-top: 8rem;
}

.icons-row1 > div,.icons-row2 > div {width: 32%;}
.icons-row2 {margin-top : 10rem; padding-bottom: 3rem;}

.file_access p:first-child, .security p:first-child, .collab p:first-child, .store_files p:first-child{
    text-align: center;
    margin-bottom: .5rem;
    font-size : 1.3rem;
    font-weight: 700;
}

.file_access p:nth-child(2), .security p:nth-child(2),
.collab p:nth-child(2), .store_files p:nth-child(2){
    font-size: .8rem;
    line-height: 1.25rem;
    color : #c3c3c3;
}

.file_access,.security,.collab,.store_files {position: relative;}

.file_access::after,.security::after,.collab::after,.store_files::after{
    position: absolute;
    content: url("./images/icon-access-anywhere.svg");
    text-align: center;
    left : 50%;
    transform: translate(-50%,-200%);
}

.security::after{
    content: url("./images/icon-security.svg");
    transform: translate(-50%,-190%);
}

.collab::after{
    content: url("./images/icon-collaboration.svg");
    transform: translate(-50%,-210%);
}

.store_files::after{
    content: url("./images/icon-any-file.svg");
    transform: translate(-50%,-250%);
}

.productive{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: hsl(218, 28%, 13%);
}

.productive img{
    display: block;
    margin-left: 4rem;
    transform: scale(.85);
}

.productive-content{
    color : white;
    font-family: 'Open-Sans', sans-serif;
    margin-left : 3rem;
}

.productive-content p:first-child,.productive-content p:nth-child(2){
    text-align: left;
    font-size: 2rem;
    margin : .4rem 0rem;
    font-weight: 700;
}

.productive-content p:nth-child(3), .productive-content p:nth-child(4){
    margin : .75rem 0rem;
    width : 90%;
    line-height: 1.5rem;
    color : #c3c3c3;
}

.know{
    position: relative;
    display: inline-block;
}

.know a{
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    padding-bottom: .25rem;
    color :hsl(176, 68%, 64%);
    font-size : .8rem;
}

.know img{
    position: absolute;
    top : 50%;
    right : 0;
    display: block;
    transform: translate(130%,-50%);
}

.testimonials{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top : 3rem;
    padding-bottom: 8rem;
    background-color: hsl(218, 28%, 13%);
}

.testimonials .box{
    background-color: hsl(219, 30%, 18%);
    color : white;
    font-family: 'Open Sans',sans-serif;
    margin-top : 5rem;
    margin-bottom : 4rem;
    border-radius: 3px;
}

.testimonials .box p{
    padding: 1.35rem 1rem;
    font-size : .95rem;
    line-height: 1.45rem;
}

.testimonials .box2{
    margin-left : 3.5rem;
    margin-right : 3.5rem;
}

.testimonials .box1 {margin-left : 3.5rem;}
.testimonials .box3 {margin-right : 3.5rem;}

.testimonials .box img{
    border-radius: 100px;
    height : 50px;
    width : 50px;
}

.testimonials .intro span {display : block;}
.testimonials .intro {margin-left : .5rem;}

.testimonials .profile-div{
    display : flex;
    flex-direction: row;
    align-items: center;
    padding : 0rem 1rem;
    margin-bottom : .75rem;
}

.testimonials .profile-div .intro > span{
    font-weight: 700;
    font-size : .8rem;
}

.testimonials .profile-div .intro span:nth-child(2){
    font-size : .65rem;
    color : #c3c3c3;
}

.testimonials .box1 {position: relative;}

.testimonials .box1::after{
    position : absolute;
    content : url('./images/bg-quotes.png');
    top : 0;
    left : 0;
    transform : translate(-15%,-125%);
}

.footer{
    background-color : hsl(216, 53%, 9%);
    padding-top : 10rem;    
    padding-bottom : 4rem;
    position : relative;
}

.footer .ready-box{
    background-color: hsl(218, 28%, 13%);
    position: absolute;
    box-shadow: 1px 1px 10px black;
    top : 0;
    left : 50%;
    width : 50%;
    transform : translate(-50%,-50%);
    color : white;
    font-family: 'Open-Sans', sans-serif;
}

.footer .ready-box > p{
    text-align: center;
    font-weight: 700;
    padding-top : 1rem;
    font-size : 1.2rem;
}

.footer .ready-box p:nth-child(2){
    text-align: center;
    font-size : .75rem;
    margin : 0rem .45rem;
    color : #c3c3c3;
    line-height: 1.2rem;
    width : 85%;
    position : relative;
    left : 50%;
    transform : translateX(-50%);
    margin-bottom : .75rem;
}

.footer .ready-box .input-fields{
    text-align: center;
    margin-bottom : 1.25rem;
}

.footer .ready-box .input-fields input{
    width : 55%;
    margin : .75rem .5rem .75rem 0rem;
    padding : .5rem;
    border-radius: 50px;
    border : none;
}

.footer .ready-box .input-fields input:focus{
    outline : none;
}

.footer .ready-box .input-fields input::placeholder{
    font-size : .6rem;
    padding : .5rem 0rem .5rem .5rem;
}

.footer .ready-box .input-fields a{
    display: inline-block;
    text-decoration: none;
    color : white;
    background : linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    font-size : .85rem;
    border-radius: 50px;
    padding : .5rem 1rem;
    font-size : .75rem;
}

.footer-margin{
    display: flex;
    align-items: flex-start;
    font-family: 'Open-Sans', sans-serif;
    background-color: hsl(216, 53%, 9%);
    color : #c3c3c3;
    font-size : .85rem;
    margin : 0rem 4rem;
}

.footer-margin > div{
    width : 20%;
    text-align: center;
}

.footer .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 0rem 5rem;
}

.footer .location{
    display : flex;
    width : 33%;
    position: relative;
    margin-top : 2rem;
}

.footer .location::after{
    position: absolute;
    content: url("./images/logo.svg");
    top : 0;
    transform : translate(10%,-130%);
}

.footer .location img{
    margin : 0rem 1rem;
}

.footer .contact .phno{
    padding : .75rem 0rem;
}

.footer .location p{
    text-align: left;
    font-size : .8rem;
    line-height : 1.2rem;
}

.footer .location img{
    height : 1.2rem;
    width : 1.2rem;
}

.footer .contact .phno{
    margin-left : -1rem;
    margin-bottom : .3rem;
}

.footer .contact img{
    margin-right : .5rem;
}

.footer ul{
    list-style-type: none;
}

.footer ul a{
    display: block;
    text-decoration: none;
    color : white;
}

.footer ul li{
    text-align: left;
    padding : .3rem 0rem;
}

.footer .socialmedia i{
    margin : 0rem .4rem;
    font-size : 1.75rem;
    color : white;
}

.links .list-items li:hover{
    cursor: pointer;
}

/* Media queries for small screen mobile devices*/
@media(max-width : 360px){
    .nav-bar {font-size : .65rem;}
    .icon img{
        height : 22px;
        width : 50px;
    }
    .nav-bar .list-items {margin-right: .5rem;}
    .files-content p:first-child, p:nth-child(2) {font-size : 1rem;}
    .files-content p:nth-child(3) {width: 95%;}
    .icon-section {position: relative;}
    .icon-section img {display: none;}
    .icon-section {background : url("./images/bg-curvy-mobile.svg") no-repeat top center/cover;}
    .icons-row1,.icons-row2{
        display: flex;
        flex-direction: column;
        margin-top : 0rem;
    }
    .icons-row1 > div,.icons-row2 > div{
        width: 85%;
        margin : 5rem 0rem;
        position: relative;
        left : 50%;
        transform: translateX(-50%);
    }
    .file_access::after,.security::after,.collab::after,.store_files::after {transform: translate(-60%,-290%);}
    .security::after{transform: translate(-50%,-245%);}
    .collab::after{transform: translate(-50%,-270%);}
    .store_files::after{transform: translate(-50%,-285%);}
}


/* Media queries for medium and large screen mobile devices */
@media(min-width : 360px) and (max-width : 768px){
    .nav-bar{
        font-size : .85rem;
        margin-bottom: 2rem;
    }
    .icon img{
        height : 50px;
        width : 100px;
    }
    .nav-bar .list-items{
        margin-right: .5rem;
    }
}

@media(min-width : 360px) and (max-width : 768px){
    .files-content p:first-child, p:nth-child(2) {font-size : 1.2rem;}
    .files-content p:nth-child(3){
        margin : .75rem 0rem;
        width: 90%;
        font-size : .9rem;
        line-height: 1.25rem;
    }
    .files a{
        padding : .5rem 1.75rem;
        font-size : .75rem;
        margin-bottom : 1.25rem;
    }
}

@media(min-width : 360px) and (max-width : 768px){
    .icon-section {position: relative;}
    .icon-section img {display: none;}
    .icon-section {background : url("./images/bg-curvy-mobile.svg") no-repeat top center/cover;}
    .icons-row1,.icons-row2{
        display: flex;
        flex-direction: column;
        margin-top : 0rem;
    }
    .icons-row1 > div,.icons-row2 > div{
        width: 85%;
        margin : 5rem 0rem;
        position: relative;
        left : 50%;
        transform: translateX(-50%);
    }
    .file_access::after,.security::after,.collab::after,.store_files::after {transform: translate(-60%,-230%);}
    .security::after{transform: translate(-50%,-220%);}
    .collab::after{transform: translate(-50%,-250%);}
    .store_files::after{transform: translate(-50%,-260%);}
}

@media(max-width : 1200px){
    .productive{
        display: flex;
        flex-direction: column;
    }

    .productive > img{
        display: block;
        margin-left: 0rem;
        width : 90%;
    }

    .productive-content p:first-child,.productive-content p:nth-child(2){
        font-size: 1.4rem;
    }

    .productive-content p:nth-child(3), .productive-content p:nth-child(4){
        line-height: 1.35rem;
        font-size : .95rem;
    }
}

@media(max-width : 1200px){
    .testimonials{
        display: flex;
        flex-direction: column;
        padding : 4rem 0rem 10rem 0rem;
    }
    .testimonials .box1{margin : 2rem 1rem 0rem 1rem;}
    .testimonials .box2{margin : 2rem 1rem;}
    .testimonials .box3{margin : 0rem 1rem 0rem 1rem;}
}

@media(max-width : 1200px){
    .footer .ready-box {width : 90%;}
    .footer .ready-box .input-fields input{
        width : 50%;
        margin : .75rem .45rem .75rem .45rem;
    }
    .footer .ready-box .input-fields a{
        font-size : .6rem;
        padding : .45rem .65rem;
        font-size : .7rem;
    }
    .footer-margin{
        display: flex;
        flex-direction: column;
        margin : .5rem 0rem;
    }
    .footer .location{
        display : flex;
        width : 90%;
        margin-top : 4rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .footer .contact{
        display: flex;
        flex-direction: column;
        align-items : flex-start;
        margin : 1rem;
        width : 90%;
    }
    .footer .location p{
        text-align: left;
        font-size : .8rem;
        line-height : 1.2rem;
    }
    .footer .contact .phno {padding : .75rem 0rem .75rem 1rem;}
    .footer .aboutus {margin : .5rem 0rem 1rem 0rem;}
    .footer .aboutus, .footer .contactus {margin-left : .75rem; width : 90%;}
    .footer .contactus {margin-bottom : 1rem;}
    .footer .contactus li,.footer .aboutus li {padding : .5rem 0rem;}
    .footer .socialmedia{
        width : 90%;
        text-align: center;
        margin-top : 1.5rem;
        margin-bottom: 0rem;
        font-size : 1.35rem;
        position: relative;
        left : 50%;
        transform: translateX(-50%);
    }
}


/*Media queries for desktop devices*/

@media (min-width : 769px) and (max-width : 1200px){
    .nav-bar{
        font-size : 1rem;
        margin-bottom: 2rem;
    }
    .icon img{
        height : 50px;
        width : 150px;
    }
    .nav-bar .list-items {margin-right: .5rem;}
    .files-content p:nth-child(3) {width: 65%;}    
    .files a{margin-bottom : 2.5rem;}
    .files {margin-bottom: 6rem;}
    .icons-row1 > div,.icons-row2 > div {width: 40%;}
    .file_access::after {transform: translate(-50%,-225%);}
    .security::after {transform: translate(-50%,-215%);}
    .collab::after {transform: translate(-50%,-240%);}
    .store_files::after {transform: translate(-50%,-260%);}
    /* .icon-section img {display: none;} */
}